#tarefas {
    margin: 10px 0;
}

#add-tarefa {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#add-tarefa input {
    flex-grow: 1;
    padding: 8px 0;
}

#add-tarefa button {
    padding: 5px 10px;
}
