::ng-deep .suinos-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: lightgray;
  padding: 20px;
}

::ng-deep .suinos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: lightgray;
  padding: 20px;
  box-sizing: border-box;
}

::ng-deep .suinos-grid .suino {
  max-width: 33%;
}
