<p-dataView [value]="suinos" layout="grid">
    <ng-template pTemplate="header">
        <div class="controls">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            <p-button icon="pi pi-filter" (click)="toggleFilter()"></p-button>
        </div>
        <div class="filters" *ngIf="filtersIsVisible" [@inOutAnimation]>
            <div class="filter filter-dropdown p-fluid">
                <label>Filtrar por:</label>
                <p-dropdown [options]="filterOptions" [(ngModel)]="filter"></p-dropdown>
            </div>
            <div class="filter-value">
                <div class="filter p-fluid" *ngIf="filter == 'BP'">
                    <input type="text" pInputText [(ngModel)]="filterValue" placeholder="Brinco do Pai" />
                </div>
                <div class="filter p-fluid" *ngIf="filter == 'BM'">
                    <input type="text" pInputText [(ngModel)]="filterValue" placeholder="Brinco da Mãe" />
                </div>
                <div class="filter p-fluid" *ngIf="filter == 'DN'">
                    <p-calendar [(ngModel)]="filterValue" dateFormat="dd/mm/yy" placeholder="Data de Nascimento"></p-calendar>
                </div>
                <div class="filter p-fluid" *ngIf="filter == 'DS'">
                    <p-calendar [(ngModel)]="filterValue" dateFormat="dd/mm/yy" placeholder="Data de Saída"></p-calendar>
                </div>
                <div class="filter p-fluid" *ngIf="filter == 'SX'">
                    <p-dropdown [(ngModel)]="filterValue" [options]="sexoOptions" optionValue="label" placeholder="Sexo (M/F)"></p-dropdown>
                </div>
                <div class="filter p-fluid" *ngIf="filter == 'ST'">
                    <p-dropdown [(ngModel)]="filterValue" [options]="statusOptions" optionValue="label" placeholder="Status"></p-dropdown>
                </div>
            </div>
            <div class="filter-button">
                <p-button icon="pi pi-filter-slash" severity="danger" (click)="clearFilters()"></p-button>
            </div>
            <div class="filter-button">
                <p-button icon="pi pi-search" (click)="filterSuinos()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="list">
        <div class="suinos-list">
            <div class="suino" *ngFor="let suino of suinos">
                <app-card-suino [suino]="suino" (onDelete)="getAll()"></app-card-suino>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="grid">
        <div class="suinos-grid">
            <div class="suino" *ngFor="let suino of suinos">
                <app-card-suino [suino]="suino" (onDelete)="getAll()"></app-card-suino>
            </div>
        </div>
    </ng-template>
</p-dataView>
