<p-card class="suino-card">
    <ng-template pTemplate="header">
        <div>
            <h2>
                <a (click)="view(suino.id)">Brinco {{ suino.brinco | number:'3.0' }} ( {{suino.sexo}} )</a>
            </h2>
            <h3>
                Status: <span [ngClass]="{'suino-active': suino.status === 'Ativo', 'suino-sold': suino.status === 'Vendido', 'suino-dead': suino.status === 'Morto'}">{{
                    suino.status }}</span>
            </h3>
        </div>
        <div #contextMenu>
            <p-button icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></p-button>
            <p-menu #menu [model]="contextMenuItems" [popup]="true" appendTo="body"></p-menu>
        </div>
    </ng-template>

    <div class="suino-property-group">
        <div class="suino-property">
            <div class="suino-property-label">
                Pai:
            </div>
            <div class="suino-property-value">
                Brinco {{ suino.brincoPai | number:'3.0' }}
            </div>
        </div>
        <div class="suino-property">
            <div class="suino-property-label">
                Mãe:
            </div>
            <div class="suino-property-value">
                Brinco {{ suino.brincoMae | number:'3.0' }}
            </div>
        </div>
        <div class="suino-property">
            <div class="suino-property-label">
                Idade:
            </div>
            <div class="suino-property-value">
                {{ calculateAge(suino.dataNascimento) | number }} meses
            </div>
        </div>
    </div>

    <div class="suino-property-group">
        <div class="suino-property">
            <div class="suino-property-label">
                Data de Nascimento:
            </div>
            <div class="suino-property-value">
                {{ suino.dataNascimento | date:'dd/MM/yyyy' }}
            </div>
        </div>
        <div class="suino-property">
            <div class="suino-property-label">
                Data da {{ suino.status === 'Morto' ? 'Morte' : 'Saída' }}:
            </div>
            <div class="suino-property-value">
                {{ suino.dataSaida | date:'dd/MM/yyyy' }}
            </div>
        </div>
    </div>
</p-card>
