<div id="results">
    <div id="result-list">
        <p-dataView #dv [value]="articles">
            <ng-template pTemplate="list" let-articles>
                <div id="articles">
                    <p-card class="article" [header]="article.title" *ngFor="let article of articles; let first = first">
                        <p [innerHTML]="article.content + '...' | htmlToPlainText">...</p>
                        <br>
                        <a [href]="article.url" target="_blank">Leia Mais</a>
                    </p-card>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
