.register-user-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.register-user-body form {
    width: 100%;
}

.register-user-body form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-user-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.register-user-actions p-button {
    flex-grow: 1;
}
