p,
h2 {
    margin: 5px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #006989;
    padding: 15px;
    border-radius: 10px;
    color: #d9caff;
    font-family: 'Poppins', sans-serif;
}

.card img {
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.place-title {
    font-weight: bold;
    text-align: center;
    color: #EAEBED;
    font-size: 2.5rem;
    font-family: 'Caveat', cursive;
}

.benefits {
    display: inline-block;
    align-self: center;
    list-style-type: none;
    padding: 0;
}

.benefits>li::before {
    content: "➤";
    margin-right: 5px;
}

.payment-info {
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 1.7rem;
    color: #EAEBED;
    margin-bottom: 5px;
    text-decoration: underline;
}

.aditionals {
    font-size: 0.9em;
}

.card button {
    align-self: center;
    border: none;
    padding: 10px 20px;
    background-color: #BA1200;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #9b0000;
}
