.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffebcd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  color: #ff7f50;
  transition: all 0.3s ease;
}

.task-item:hover {
  background-color: #ffe4b5;
}

.task-item:active {
  background-color: #ffdead;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.8em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.button-remove {
  color: #fff;
  background-color: #ff0000;
}

.button-remove:hover {
  background-color: #cc0000;
}

.button-remove:active {
  background-color: #990000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.button-update {
  color: #fff;
  background-color: orange;
}

.button-update:hover {
  background-color: rgb(180, 117, 0);
}

.button-update:active {
  background-color: rgb(97, 63, 0);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
