<div id="container">
    <h2>Escolha seu veículo:</h2>
    <div id="vehicle-selection">
        <div id="selectors">
            <div class="selector-container">
                <p appBeStrong>Categoria: </p>
                <div class="select">
                    <app-objects [categories]="categories" (categorySelected)="onCategorySelected($event)"></app-objects>
                </div>
            </div>
            <div class="selector-container">
                <p appBeStrong>Modelo: </p>
                <div class="select">
                    <app-classes [vehicles]="vehicles" (vehicleSelected)="onVehicleSelected($event)"></app-classes>
                </div>
            </div>
            <div class="selector-container">
                <p appBeStrong>Propriedade: </p>
                <div class="select">
                    <app-properties [properties]="properties" (propertySelected)="onPropertySelected($event)"></app-properties>
                </div>
            </div>
            <p-button id="add-button" [style]="{'width': '100%'}" label="Adicionar" icon="pi pi-plus" iconPos="right" (click)="addToCart()"></p-button>
        </div>
        <app-vehicle-display [vehicle]="vehicle" [properties]="properties" [currentProperty]="currentProperty"></app-vehicle-display>
    </div>
    <hr>
    <app-cart [items]="cartItems"></app-cart>
</div>
