<div class="login-wrap">
    <div class="login-container">
        <div class="welcome">
            <img class="logo" src="assets/common/app-logo.jpg" alt="Logo" />
            <h3>Bem Vindo(a) de volta!</h3>
        </div>
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-control">
                <label for="email">Email: </label>
                <input pInputText formControlName="email" id="email" type="text" placeholder="Email" />
            </div>
            <div class="form-control">
                <label for="password">Senha: </label>
                <input pInputText formControlName="password" id="password" type="password" placeholder="Senha" />
            </div>
            <div class="p-fluid">
                <p-button label="Entrar" type="submit" [disabled]="loginForm.invalid"></p-button>
            </div>
        </form>
        <div class="help">
            <h4>Primeiro Acesso? Verifique seu email!</h4>
            <h4>Esqueceu ou não recebeu sua senha? <a (click)="forgotPassword()" class="underlined">Clique aqui</a><br></h4>
        </div>
    </div>
</div>

<p-toast position="top-center" />
