<p-dataView [value]="posts">
    <ng-template pTemplate="list" let-posts>
        <div *ngFor="let post of posts">
            <p-card [header]="post.title">
                <p>{{post.content}}</p>
                <p>{{post.dateTime | date:'dd/MM/yyyy'}}</p>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-trash" severity="danger" (click)="delete(post.id)"></p-button>
                    <p-button icon="pi pi-pencil"></p-button>
                </ng-template>
            </p-card>
        </div>
    </ng-template>
</p-dataView>
