:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100lvh;
}

.auth-wrap {
  width: 500px;
  padding: 5px;
  position: relative;
  background: linear-gradient(180deg, slateblue 10%, rgba(33, 150, 243, 0) 50%);
  border-radius: 25px;
}

.auth {
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 1px 3px 0px rgb(201, 201, 201);
}
