:host {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.app-table .head th {
    width: 30%;
}

.app-table .head .options-column {
    width: 1%;
}

.options div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.confirm-delete-user-dialog .p-dialog-mask .p-confirm-dialog .p-dialog-header {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
    .actions {
        flex-direction: column;
        gap: 10px;
    }
}
