#search {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 5px;
    background-color: white;
}

#search form {
    display: flex;
    width: 100%;
}

input {
    flex-grow: 1;
}

p-button {
    margin-left: 5px;
}
