header {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 1rem;
    background-color: #C9B1BD;
    border-bottom: 2px solid #B49594;
    font-family: "poppins", sans-serif;
    box-shadow: 0px 2px 2px 1px rgba(60, 62, 65, 0.3);
}
