:host {
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.profile .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(209 213 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .info div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 7.5px 30px;
    border-bottom: 1px solid lightgray;
}

.profile .info div:first-child {
    border-top: 1px solid lightgray;
}

.app-table .head th {
    width: 49%;
}

.app-table .head .options-column {
    width: 1%;
}

@media screen and (max-width: 600px) {
    .profile {
        flex-direction: column;
    }

    .profile .info {
        width: 100%;
    }

    .profile .info div {
        padding: 7.5px 0;
    }
}
