/* @import "primeng/resources/themes/aura-light-blue/theme.css"; */
@import "primeng/resources/themes/aura-custom/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #375B7D;
}

html,
body {
    margin: 0;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}


a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: #324454;
    margin: 10px 0;
}

.app-table .p-datatable-wrapper {
    overflow: hidden;
}

.app-table .p-datatable tr th,
.app-table .p-datatable tr td {
    text-overflow: ellipsis;
}

.app-table .p-datatable tr th {
    border: unset;
    border-bottom: 3px solid rgba(173, 216, 230, 0.4);
    color: darkcyan;
    font-weight: bold;
}

.app-table .p-datatable-thead tr th,
.app-table .p-datatable-thead tr td {
    background-color: unset;
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: unset;
        background-color: unset;
    }

    ::-webkit-scrollbar {
        width: unset;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: unset;
        background-color: unset;
    }

    html,
    body {
        margin: 0;
        overflow: auto;
    }

    .app-table .p-datatable-thead tr th {
        display: none;
    }

    .app-table .p-datatable-tbody {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .app-table .p-datatable-tbody tr {
        border: 1px solid lightgray;
    }

    .app-table .p-datatable-tbody tr td::before {
        content: attr(data-label);
    }

    .app-table .p-datatable-tbody tr td {
        display: flex;
        justify-content: space-between;
    }

    .app-table .p-datatable-tbody tr td:nth-last-child(2) {
        border-bottom: 0;
    }

    .app-table .p-datatable-tbody tr .options {
        display: flex;
    }

    .app-table .p-datatable-tbody tr .options div {
        display: flex;
        flex-grow: 1;
    }

    .app-table .p-datatable-tbody tr .options div .option {
        width: 100%;
    }

    .app-table .p-datatable-tbody tr .options div .option .p-button-icon-only {
        width: 100%;
    }
}
