.logo {
  height: 70px;
  border-radius: 50%;
}

.welcome {
  text-align: center;
  margin-bottom: 35px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h4 {
  text-align: center;
}

.error_message {
  color: #bd2828;
  text-align: center;
}
