<div>
    <h2>Suíno {{suino.brinco | number:'3.0':'pt-BR'}}</h2>
    <h2>Historico Completo de Atividades</h2>
</div>
<p-table #tableAtividades [value]="historico">
    <ng-template pTemplate="header">
        <tr>
            <th>Data</th>
            <th>Atividade</th>
            <th>-</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-atividade>
        <tr>
            <td>{{ atividade.data | date:'dd/MM/yyyy' }}</td>
            <td>{{ atividade.descricao }}</td>
            <td>{{ atividade.detalhes }}</td>
        </tr>
    </ng-template>
</p-table>

<div class="button-row">
    <p-button icon="pi pi-chart-bar" label="Visualizar Gráfico de Atividades" [routerLink]="['/app/suinos/atividades', id]"></p-button>
    <p-button icon="pi pi-chart-bar" label="Visualizar Gráfico de Pesagens" [routerLink]="['/app/suinos/detalhes', id]"></p-button>
</div>