:host {
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: rgb(247, 253, 255);
}

h2,
h3 {
  margin: 0;
}

:host > div {
  margin: 0;
  padding: 30px;
  background-color: rgb(249, 250, 251);
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-row p-button {
  margin-top: 10px;
}
