:root {
	--color-primary: #D5DFE5;
	--color-secondary: #C9B1BD;
	--color-terciary: #B49594;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-primary);
}

header {
	text-align: center;
	font-size: 2rem;
	padding: 20px;
	margin-bottom: 10px;
	background-color: var(--color-secondary);
	border-bottom: 2px solid var(--color-terciary);
}

.card {
	background-color: var(--color-secondary);
}

.card-header {
	background-color: var(--color-terciary);
	border-radius: 5px 5px 0 0;
	padding: 7px;
	font-weight: bold;
}

.card-body {
	padding: 5px;
}

.card-body > div {
	margin: 7px 0;
}

.card-body a::before {
	content: "\21b3"
}

main {
	display: grid;
	padding: 5px;
}

#div1 {
	display: grid;
	grid-template-columns: 1fr 1fr 20%;
	gap: 5px;
	margin-bottom: 5px;
}

#div2 {
	display: grid;
	grid-template-columns: 1fr 400px;
	gap: 5px;
	margin-bottom: 10px;
}

footer {
	display: flex;
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px;
	bottom: 0;
	left: 0;
	margin: 0;
}