<p-table [value]="countries" [tableStyle]="{ 'max-width': 'min(700px, 80vw)' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Continente</th>
            <th>População</th>
            <th>Capital</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country>
        <tr>
            <td>{{ country.name.official }}</td>
            <td>{{ country.region }}</td>
            <td>{{ country.population }}</td>
            <td>{{ (country.capital || []).join(', ') }}</td>
        </tr>
    </ng-template>
</p-table>