:host {
  padding: 10px;
}

.suino-active {
  color: blue;
}

.suino-sold {
  color: green;
}

.suino-dead {
  color: red;
}

::ng-deep .suino-card .p-card {
  margin: 15px 30px;
}

::ng-deep .suino-card .p-card {
  padding: 1.25rem;
}

::ng-deep .suino-card .p-card-header,
::ng-deep .suino-card .p-card-body,
::ng-deep .suino-card .p-card-content,
::ng-deep .suino-card .p-card-footer {
  padding: 0;
}

::ng-deep .suino-card .p-card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

::ng-deep .suino-card .p-card-header h2,
::ng-deep .suino-card .p-card-header h3 {
  margin: 0;
}

::ng-deep .suino-card .p-card-header h2 {
  color: black;
  font-size: 1.5rem;
}

::ng-deep .suino-card .p-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.suino-property-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.suino-property {
  display: flex;
  flex-direction: column;
}

.suino-property-label {
  font-weight: bold;
  margin-bottom: 3px;
}

::ng-deep .p-card-footer {
  display: flex;
  gap: 5px;
}
