#menu .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}
