<app-uesc-card title="Menu" id="menu">
    <div class="menu">
        <div><a href="https://currentsapi.services/" target="_blank">API Notícias</a></div>
        <div><a href="https://www.weatherapi.com/" target="_blank">API Clima</a></div>
        <div><a href="https://freecurrencyapi.com" target="_blank">API Moedas</a></div>
        <div><a href="https://api.nasa.gov/" target="_blank">API NASA</a></div>
        <div><a href="https://restcountries.com/" target="_blank">API Países</a></div>
    </div>
</app-uesc-card>
